*.suo
*.user
_ReSharper*
[Oo]bj/
[Bb]in/
TestResults/
*.vspscc
*.vssscc
TestResults
~*
*_generated_*.css
General
Publish
DsPublish
.vs
node_modules
/src/AMBS.Conso.Consumer.Service/packages
/src/AMBS.Conso.Client/build
/src/AMBS.Conso.Consumer.Service/Material/InstallUtil.InstallLog
/src/AMBS.Conso.App/AMBS.Conso.App.Web/log
src/AMBS.Conso.App/AMBS.Conso.App.Web/Logs/
